@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

body {
  background: rgba(226, 111, 199, 0.3);
  text-align: center;
}

h1 {
  font-size: 50px;
  color: rgb(193, 0, 200);
}

p {
  font-size: 30px;
  font-family: 'Indie Flower';
}

img {
  width: 30%;
}